<div class="container">
  <mat-card>
    <header>
      <h2>Connections</h2>
    </header>

    <form>
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Connection Type</mat-label>
            <mat-select #connectionType name='ConnectionType' [(ngModel)]='Selected'
              (ngModelChange)="onTypeChange(connectionType.value)">
              <mat-option *ngFor="let connection of Connections" [value]='connection'>
                {{connection}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" *ngIf='Selected && Selected ==="s3"'>
            <mat-label>Password</mat-label>
            <input matInput type='password' placeholder="password">
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf='Selected && Selected ==="s3"'>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
          </mat-form-field>

          <mat-form-field class="example-full-width" *ngIf='Selected && Selected !=="s3"'>
            <mat-label>Connection Name</mat-label>
            <input matInput placeholder="Name">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card>
</div>