<div class="container">
  <mat-card>
    <header>
      <h2>Connections</h2>
    </header>
    <section class='row'>
      <article class="col-lg-6">
        <table class="table">
          <thead>
            <tr>
              <th>S.no.</th>
              <th>Name</th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>Ashutosh</td>
              <td>
                <mat-form-field>
                  <mat-select>
                    <mat-option value='123'>Hello</mat-option>
                    <mat-option value='123'>Brother</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class='col-lg-6'>
        <table class="table">
          <thead>
            <tr>
              <th>S.no.</th>
              <th>Name</th>
              <th>
                Action
              </th>
              <th>
                second
              </th>
              <th>
                second
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>Ashutosh</td>
              <td>
                <mat-form-field class="half">
                  <mat-select>
                    <mat-option value='12'>Hello</mat-option>
                    <mat-option value='13'>Brother</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="half">
                  <mat-select>
                    <mat-option value='12'>Hello</mat-option>
                    <mat-option value='13'>Brother</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="half">
                  <mat-select>
                    <mat-option value='12'>Hello</mat-option>
                    <mat-option value='13'>Brother</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </mat-card>
</div>